* {
    margin: 5px;
    padding: 5px;
    font-family: monospace;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
}

.active {
    color: red;
}

::selection {
    background-color: yellow;
}

@keyframes pageTransition {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}